/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }
  *{margin: 0;
padding: 0;
}
.margin{
    margin: auto 200px;
}
  /* header style */
  header{
    margin-right: 86px;
    display: flex;
    align-items: end;
    background-color: rgba(229, 84, 115, 0.1);
  }
  header h1{
    font-size: 60px;
    font-weight: 900;
}
header a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: rgba(229, 84, 115, 1);
    padding: 20px 43px;
    border-radius: 8px;
}
header img{
    max-width: 100%;
}
header div div{ 
 margin: 50px 0 50px 100px;
}
header div div a{
    display: block;
    margin: 30px ;
    margin-top: 30px;
    width: max-content;
}
header div div p{
    padding: 10px;
    line-height: 25px;
}
header div:nth-child(2) {
    padding: 0;
}
/* our featured section */
#our-feature{
    text-align: center;
    margin-top: 50px;
}
#our-feature h2{
    font-size:40px ;
    font-weight: 900;
}
#our-feature p{
    line-height: 30px;
    width: 594px;
    margin: 0 auto;
    margin-bottom: 30px;
}
#flower-card{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.card img{
    max-width: 100%;
    height: 418px;
    width: 310px;
}
.card div{
    padding: 110px 76px 0 76px;
    border-radius: 50% 50% 0 0;
    width: 200px;
}
.card h3{
    text-align: center;
    text-decoration: underline;
    margin: 20px auto;
}
#card-1 div{
    background-color:rgba(167, 33, 98, 0.15) ;
}
#card-2 div{
    background-color: rgba(5, 151, 160, 0.15);
}
#card-3 div{
    background-color: rgba(71, 125, 17, 0.15)
}
/* Service section */
.service{
    display: flex;
    justify-content: space-around;
    background-color:rgba(39, 39, 39, 0.05) ;
    margin: 50px 100px;
}
.service img {
    width: 88px;
    height: 88px;
    margin: 0 auto;
}
.service div{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
/* offers section */
#offers-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color:rgba(229, 84, 115, 0.05) ;
}
#offers-section a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: rgba(229, 84, 115, 1);
    padding: 20px 43px;
    border-radius: 8px;
    margin-top: 30px;
    display: block;
    width: max-content;
}
#offers-section img{
    width: 318px;
    height: 420px;
}
#offers-section span{
    color: rgba(229, 84, 115, 1);
}
/* instagram */
#title{
    text-align: center;
    margin: 30px auto;
}
#insta-images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 50px;
    padding-top: 0;
    margin: auto 80px;
}
#insta-images img{
    width:342px ;
    height: 342px;
    max-width: 100%;
}
/* get latest deals */
#latest-deals{
    background-image: url(/asset/Rectangle\ 9.png);
    margin: 30px 70px;
    background-size: cover;
    padding: 50px;
    max-width: 100%;
    text-align: center;
    border-radius: 5px;
}

#latest-deals a{
    text-decoration: none;
    color:#fff ;
    background-color: rgba(229, 84, 115, 1);
    padding: 8px;
    border-radius: 8px;
    display: inline-block;
    font-weight: 700;
}
/* footer */
footer{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 80px;
}
footer span{
    color: rgba(229, 84, 115, 1)
}
footer h3{
    margin: 10px auto;
}
footer small{
    font-size: 14px;
}
#input-email{
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    border: 0;
}
@media screen and (max-width:576px) {
    header{
        flex-direction: column;
        height: auto;
        margin: 0;
        text-align: center;
    }
    header h1{
        font-size: 45px;
    }
    header div div a, #offers-section a , #latest-deals a{
        margin: 10px auto;
    }
    header div div{ 
        margin: 30px;
       }
       #flower-card{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    #offers-section, .service{
        flex-direction: column;
    }
    #insta-images{
        display: grid;
        grid-template-columns: repeat(1,1fr);
}
#input-email{
    width: 60%;}
    #our-feature p{
        width: 95%;
}
.card{
margin: 0 auto;
}
}